body {
  line-height: 1.3;
  background-color: #F8F3F2;
  color: #0D0807;
  text-align: justify;
  font-family: serif;
}

p {
  margin: .5rem 0 .5rem 0;
}

h1+p,
h2+p,
h3+p {
  margin: 0 0 .5rem 0;
}

div {
  padding: 3rem;
}
