body:not(a, summary) {
  cursor: default;
}

details>summary::marker {
  font-size: .9em;
}

details[open]>summary::marker {
  color: red;
}

details>summary {
  list-style-type: "\2660\FE0E";
}

details[open]>summary {
  list-style-type: "\2665\FE0E";
}

body {
  line-height: 1.3;
  background-color: #F8F3F2;
  color: #0D0807;
  font-family: sans-serif;
}

p {
  text-align: justify;
  margin: 1rem 0 1rem 0;
}

summary {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

h1,
h2,
h3 {
  line-height: 1;
}

h1+p,
h2+p,
h3+p,
h1+ul,
h2+ul,
h3+ul,
h1+ol,
h2+ol,
h3+ol {
  margin: 0 0 1rem 0;
}

#content {
  padding: 2vw;
}
