body {
  line-height: 1.3;
  background-color: #F8F3F2;
  color: #0D0807;
  font-family: serif;
}

p {
  text-align: justify;
  margin: 1rem 0 1rem 0;
}

h1+p,
h2+p,
h3+p {
  margin: 0 0 1rem 0;
}

div {
  padding: 5vh;
}
